@model ChapinesGT.Models.Queja

@{
    ViewData["Title"] = "Details";
}
<br>
<br>
<br>
<br>
<h1>Detalles</h1>

<div>
    <h4>Queja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
