@model IEnumerable<ChapinesGT.Models.Queja>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br>
<br>
<br>
<br>
<h1>Quejas</h1>

<p>
    <a class="btn btn-secondary btn-sm" asp-action="Create">Crear Nuevo <i class="icon ion-md-add-circle"></i></a>
</p>
<table class="w3-table w3-striped w3-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sucursal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal.Nombre)
            </td>
            <td>
               <a class="btn btn-warning btn-sm"asp-action="Edit" asp-route-id="@item.Id">Editar<i class="icon ion-md-brush"></i></a> 
                <a class="btn btn-primary btn-sm"asp-action="Details" asp-route-id="@item.Id">Detalles<i class="icon ion-md-book"></i></a> 
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar<i class="icon ion-md-close-circle"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>