@model IEnumerable<ChapinesGT.Models.Municipio>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br>
<br>
<br>
<br>
<h1>Municipios</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="w3-table w3-striped w3-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
